[Unit]
Description=connect back to server

[Service]
Type=simple
ExecStart=/usr/local/bin/connectbackd --config /etc/connectbackd.conf
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
